[project]
	description = An animated ticker for news, playing songs, moving texts of all kind.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/eudes (eudes)
[access "refs/for/refs/*"]
	read = group user/eudes (eudes)
	push = group user/eudes (eudes)
	label-Code-Review = -2..+2 group user/eudes (eudes)
	label-Verified = -1..+1 group user/eudes (eudes)
	rebase = group user/eudes (eudes)
	removeReviewer = group user/eudes (eudes)
	submit = group user/eudes (eudes)
[access "refs/heads/*"]
	read = group user/eudes (eudes)
	create = group user/eudes (eudes)
	push = +force group user/eudes (eudes)
	pushMerge = group user/eudes (eudes)
[access "refs/tags/*"]
	push = group user/eudes (eudes)
	push = +force group user/eudes (eudes)
